*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: 'Rubik', sans-serif;
  background-color: #10834d;
}

.logo{
  color: #cfdee7;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 22px;
}

.nav-links{
  display: flex;
  width: 30%;
  justify-content: space-around;
}
.nav-links li{
  list-style: none;
}
.nav-links a{
  color: #cfdee7;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger{
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: #cfdee7;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px){
  .nav-links{
    width: 40%;
  }
}

@media screen and (max-width: 768px){
  body{
    overflow-x: hidden;
  }

  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #10834d;
    display: flex;
    flex-direction: column;
    /*Because using column^, its align-items not justify; the order changes*/
    align-items: center;
    width: 60%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li{
    opacity: 0;
  }

  .burger{
    display: block;
  }
}


.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity:0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}



/*My palette:: #d62839 #16c172 #067bc2 #2c514c #cfdee7

/*#067BC2 #84BCDA #ECC30B #F37748 #D56062*/
/*#D7DEDC #CFCFCd #9A879D #7A3B69 #563440*/
/*#696D7D #6F9283 #8D9F87 #CDC6A5 #F0DCCA*/
/*#0A369D #4472CA #5E7CE2 #92B4F4 #CFDEE7*/
/*#D62839 #BA324f #175676 #4BA3C3 #CCE6F4*/
/*#638475 #90E39A #DDF093 #F6D0B1 #CE4760*/
/*#4C5454 #FF715B #FFFFFF #1EA896 #523F38*/
/*#2DE1FC #2AFC98 #09E85E #16C172 #214F4B*/
/*#201E1F #FF4000 #FAAA8D #FEEFDD #50B2C0*/
/*#BF4E30 #C6CCB2 #093824 #E5EAFA #78FECF*/
/*#E3C0D3 #95818D #576066 #2C514C #122932*/